API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000
BI_AGENT_DATABASE_URL=postgresql://zhourukun@localhost:5432/bi-agent-local
BI_AGENT_WHITELIST_IPS=127.0.0.1
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=bi-agent
MINIO_SECURE=false
